/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Changa+One:400,400i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 900;
    font-family: 'Changa One', cursive;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }
.single-promo-box{background-image: url(../img/1.jpg);}
.promo-bg-2{background-image: url(../img/2.jpg);}
.promo-bg-3{background-image: url(../img/3.jpg);}
.section-padding{padding: 80px 0}
.single-promo-box{
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    height: 280px;
    display: block;
    color: #fff;
    transition: .4s;
}
.single-promo-box:hover{
    color: #fff;
    transform: scale(1.02);
    box-shadow: 0 0 10px #ddd;
}
.promo-content{
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
}
.promo-content h2{
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 10px;
}
.scrollToTop{
    width:50px; 
    height:50px;
    padding:10px; 
    text-align:center; 
    background: #8302CD;
    position:fixed;
    right:40px;
    bottom: 40px;
    border-radius: 50%;
}
.scrollToTop i.fa {
    color: #fff;
    font-size: 36px;
    line-height: 25px;
}
