/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Droid Serif', serif;
}
html, body{
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

.section-padding{
   padding: 100px 0;
}
.testimonial-bg{
    background-image: url(../img/testimonial-slider-background-black-1.jpg);
    background-color: #333;
    color: #fff;background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
}

.section-title {
    margin-bottom: 40px;
    text-align: center;
}
.section-title h2 {
    font-size: 40px;
}
.testimonial-top > img {
    margin-right: 25px;
    margin-top: -40px;
    max-width: 120px;
}
.testimonial-top > h3 {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
}
.testimonial-top span {
    display: inline-block;
    font-size: 70%;
    opacity: 0.5;
    padding-top: 10px;
    text-transform: none;
}
.testimonial-top {
    padding-bottom: 30px;
    padding-top: 30px;
}
.single-testimonial-item {
    box-shadow: 0 0 10px #fff;
    color: #ddd;
    font-size: 16px;
    line-height: 1.8;
    padding: 45px 80px;
    text-align: center;
}
.testimonial-athore-name img {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-top: -25px;
}

.testimonial-athore-name {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    height: 260px;
    position: relative;
}
.testimonial-athore-name h3 {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    max-width: 188px;
    padding-left: 10px;
    text-transform: uppercase;
}
.testimonial-athore-name h3 span {
    display: inline-block;
    font-size: 70%;
    margin-top: 5px;
    opacity: 0.5;
}
.testimonial-athore-name li {
    margin-bottom: 10px;
    padding-top: 27px;
    opacity: .5;
}
.testimonial-athore-name li.active {
    opacity: 1;
}

.testimonial-text {
    font-size: 40px;
    left: -274px;
    opacity: 0.5;
    position: relative;
    top: 106px;
    transform: rotate(270deg);
    width: 400px;
}
.testimonial-text::after {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 5px;
    margin-top: -2.5px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 150px;
}
.ps > div.ps__scrollbar-y-rail{
    opacity: 1;
    position: absolute;
}



