/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0;
}
.section-title{
    color: #848485;
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;

}
.service-box-bg{background-image: url(../img/medical.jpg);}
.service-box-bg-1{background-image: url(../img/medical2.jpg);}
.service-box-bg-2{background-image: url(../img/medical1.jpg);}
.service-box-bg{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    position: relative;
    z-index: 1;
    height: 300px;
}
.service-box-bg{
    border:1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
}
.single-service-box{
    border:1px solid #ddd;
    border-radius: 5px 5px 0px 0px;
    display: block; 
    color: #333;
}
.single-service-box h2{
    margin: 0;
    padding: 50px 0 20px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}
.single-service-box:hover .service-box-bg i{
    background-color: #1cc9ce;
    border-color: #26395a;
}
.single-service-box:hover h2{
    background-color: #26395a;
    color: #fff;
}

.service-box-bg i::before {
    font-size: 30px;
    line-height: 63px;
    margin: 0;
}

.service-box-bg i{
    height: 70px;
    width: 70px;
    font-size: 40px;
    background: green;
    color: #fff;
    display: block;
    border:5px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
    text-align: center;
    transition: .3s;
}
